BasedOnStyle: LLVM
IndentWidth: 4
NamespaceIndentation: All
TabWidth: 4
UseTab: Never
PointerAlignment: Left
ReferenceAlignment: Left
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
RawStringFormats:
  - Language: Cpp
    Delimiters:
      - cuda
      - CUDA
      - cpp
      - Cpp
    BasedOnStyle: LLVM
