BasedOnStyle: LLVM
IndentWidth: 4
NamespaceIndentation: All
TabWidth: 4
UseTab: Never
PointerAlignment: Left
ReferenceAlignment: Left
BreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000000
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AlignAfterOpenBracket: BlockIndent
BreakBeforeBraces: Custom
IndentCaseLabels: true
BraceWrapping:
  BeforeCatch: true
  BeforeElse: true
RawStringFormats:
  - Language: Cpp
    Delimiters:
      - cuda
      - CUDA
      - cpp
      - Cpp
    BasedOnStyle: LLVM
